
html,body{
    font-size: 15px;
    margin:0px;
    height:100%;
    width:100%;
    /* border: 1px solid red; */
    font-family: Arial, sans-serif;
    -webkit-user-select: none;
}
img{
    pointer-events: none;
}
.background{
    background-color:#D2AC8F;/*#d2a56d;/*#897b66;/*black;*/
    z-index: 0;
    height: 100%;
    display: flex;
}

.display_page{
    position: relative;
    width:80%;
    height:100%;
    /* border: 10px solid brown; */
}
.setting_page{
    position: relative;
    width:20%;
    height:100%;
    border: 1px solid #FFFFF0;
    z-index: 10;
    display: flex;
    flex-direction: column;
}
.lu-widget{
   position: absolute;
   left:10px;
   top:10px;
   /* border: 1px solid green; */
   width: 20%;
   height:30%; 
   z-index: 5;
}

#canvas-container{
    position: absolute;
    border: 1px solid blue;
    height: 100%;
    width: 100%;
}

.mv-arrow{
    display: none;
    border-right: 3px solid #00FFFF;
    border-top: 3px solid #00FFFF;
    z-index: 5;
    position: absolute;
    height: 2vh;
    width: 2vh;
    /* transform: rotate(45deg); */
    /* top: 30%; */
    /* left: 30%; */
}

.rotation{
    display: inline-block;
    width: 100%;
    height: auto;
    overflow: visible;
    /* border: 1px solid #ccc; */
}

.rotation-arrow {
    offset-distance: 0%;
    /* offset-path: path('M 0, 10 A 15,10 0, 0 0, 30, 10 '); */
    animation: move 2s linear forwards infinite ;
    /* transform: translate(20px,30px); */
  }

.lu-widget svg{
    position: absolute;
    left:14%;
    top: 32%;
    height: 15%;
    width: auto;
    z-index: 6;
    display: none;
    /* transform: translate(-50%, 0) rotate(90deg); */
}

@keyframes move {
    100%{
        offset-distance: 100%;
    }
} 

.ru-widget{
   position: absolute;
   right:10px;
   top:10px;
   /* border: 1px solid orange; */
   width: 20%;
   height:30%; 
   z-index: 5;
}

.ru-widget svg {
    width: 114px;
    height:114px;
    margin: 1em;
    /* border: 1px solid red; */
  }
  
  .bg {
    fill: none;
    stroke-width: 10px;
    stroke: #1A2C34;
  }
  
  .meter-1 {
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    
  }
  
  .meter-1 {
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    stroke: blanchedalmond;
  }
  
.score-title{
    color:blanchedalmond;
    position: absolute;
    top:30%;
    right:50%;
    transform:translate(50%,-50%);
}

.score{
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translate(50%,-50%);
    color: blanchedalmond;
}

.ld-widget{
    position: absolute;
    left:10px;
    bottom:10px;
    /* border: 1px solid green; */
    width: 20%;
    height:30%; 
    z-index: 5;
 }
 
 #depth{
    /* border: 1px so   lid red; */
    position: absolute;
    bottom: 5px;
    left: 20px;
}
.ld-widget .subtitle{
    color: #f8eeda;
    /* border: 1px solid green; */
    font-size: x-large;
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.rd-widget{
    position: absolute;
    right:10px;
    bottom:10px;
    /* border: 1px solid orange; */
    width: 20%;
    height:30%; 
    z-index: 5;
 }

#gain{
    /* border: 1px solid red; */
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.rd-widget .subtitle{
    color: #f8eeda;
    /* border: 1px solid green; */
    font-size: x-large;
    position: absolute;
    bottom: 40px;
    right: 50px;
}

.screen{
    width: 100%;
    height:80%;
    /* border: 1px solid blue; */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.screen h{
    font-size: 5vh;
    font-family: Taviraj;
}

.save-page{
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 30%;
    height: 10%;
    transform: translate(-50%,0);
    text-align: center;
}

.save-page button{
    border: 2px solid #fffaf0;;
    background-color: #319AE5;
    color: #f8eeda;/*#F5E6EB;*/
    height: 100%;
    width: 100%;
    border-radius: 30px;
    font-size: 25px;
    /* font-family: 'Courier New', Courier, monospace; */
}
.save-page button:hover{
    background-color: #2b95e2;
}

.save-page button:active{
    background-color: #2675ae;
}


.header{
    text-align: center;
    font-size: 1rem;
    color: #A65146;
}

.camera{
    border: 1px dashed purple;
}

.setting_header{
    color: #f8eeda;/*#F5E6EB;*/
    background-color: #319AE5;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
}

.setting_header .header_txt{
    flex: 1;
    /* border: 1px solid red; */
    top: 5px;
    position: relative;
}


.setting_topics{
    position: relative;
    /* border: 1px solid red; */
    height: 100%;
    color: #f8eeda;/*#F5E6EB;*/
}

.setting_topics h3{
    border:1px solid wheat;
    padding: 0.5em;
}

.img_display img{
    max-width: 100%;
    height: auto;
}
.arrow-button {
    float: right;
    width: 40px;
    height: 40px;
    background-color:inherit; /* Set your desired background color */
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid wheat;
  }
  
  .arrow-button::after {
    content: '';
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 12px;
    height: 12px;
    /* border:  2px solid red; */
    border-right: 2px solid #F5E6EB; /*Set your desired arrow color */
    border-top: 2px solid #F5E6EB; /*Set your desired arrow color*/
    transform: rotate(45deg);
  }

  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    /* background-color: rgba(0,123,255,.5); */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    right: 0px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
#dropdown:hover{
    background-color: #298ed6;
    border: 0.5px solid #9898a9;
}
/* #dropdown:hover {border: 2px solid red;} */
/* #dropdown:hover +.dropdown-content {display: block;} */
.dropdown-content a:hover {background-color: #ddd;}
.subdropdown a:hover {background-color: #ddd;}

.subdropdown{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    right: 160px;
}

.subdropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.bt-select{
    display: flex;
    justify-content: space-around   ;
    align-items: center;
}

.to-left,.to-right{
    border: none;
}
.to-left::after{
    border: none;
    border-left: 2px solid #ffffff59; /*Set your desired arrow color */
    border-bottom: 2px solid #ffffff59; /*Set your desired arrow color*/
}
.to-right::after{
    border: none;
    border-right: 2px solid #ffffff59; /*Set your desired arrow color */
    border-top: 2px solid #ffffff59; /*Set your desired arrow color*/
}


.exit_exam{
    position: absolute;
    bottom: 0px;
    border: 1px solid #1e90ff;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit_exam h3{
    text-align: center;
    /* border: 1px solid red; */
}

/*css for plus and minus sign begin*/
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: black;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: black;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
div {
    text-align: center;
}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
.qty.mt-5 span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: rgb(203, 192, 192);
}
.qty.mt-5 input{  
    border: 0;
    width: 1%;
    background-color: black;
    color: #055b76;
}
.qty.mt-5 input::-webkit-outer-spin-button,
.qty.mt-5 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.qty.mt-5 input:disabled{
    background-color:black;
    padding-left: 21px;
    /* border:1px solid red; */
    margin-right: -5px;
}

.qty.mt-5 span.count{
    background-color: inherit;
    color:#6aabda;
    /* border:1px solid green; */
    padding-left:0px;
    padding-bottom:0px;
}

/*css for plus and minus sign end*/
