
html,body{
    font-size: 15px;
    margin:0px;
    height:100%;
    width:100%;
    /* border: 1px solid red; */
}
.background{
    background-color: black;
    z-index: 0;
    height: 100%;
    display: flex;
}

.display_page{
    position: relative;
    width:80%;
    height:100%;
    /* border: 10px solid brown; */
}
.setting_page{
    position: relative;
    width:20%;
    height:100%;
    border: 1px solid #FFFFF0;
    z-index: 10;
    display: flex;
    flex-direction: column;
}
.lu-widget{
   position: absolute;
   left:10px;
   top:10px;
   /* border: 1px solid green; */
   width: 20%;
   height:30%; 
   z-index: 5;
}

.ru-widget{
   position: absolute;
   right:10px;
   top:10px;
   /* border: 1px solid orange; */
   width: 20%;
   height:30%; 
   z-index: 5;
}

.ld-widget{
    position: absolute;
    left:10px;
    bottom:10px;
    /* border: 1px solid green; */
    width: 20%;
    height:30%; 
    z-index: 5;
 }
 
 #depth{
    /* border: 1px so   lid red; */
    position: absolute;
    bottom: 5px;
    left: 20px;
}
.ld-widget .subtitle{
    color: white;
    /* border: 1px solid green; */
    font-size: x-large;
    position: absolute;
    bottom: 40px;
    left: 50px;
}

.rd-widget{
    position: absolute;
    right:10px;
    bottom:10px;
    /* border: 1px solid orange; */
    width: 20%;
    height:30%; 
    z-index: 5;
 }

#gain{
    /* border: 1px solid red; */
    position: absolute;
    bottom: 5px;
    right: 20px;
}
.rd-widget .subtitle{
    color: white;
    /* border: 1px solid green; */
    font-size: x-large;
    position: absolute;
    bottom: 40px;
    right: 50px;
}

.screen{
    width: 100%;
    height:80%;
    /* border: 1px solid blue; */
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header{
    text-align: center;
    font-size: 1rem;
    color: yellow;
}

.camera{
    border: 1px dashed purple;
}

.setting_header{
    color: #fffaf0;
    background-color: #1e90ff;
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
}

.setting_header div{
    flex: 1;
    /* border: 1px solid red; */
}

.setting_topics{
    position: relative;
    /* border: 1px solid red; */
    height: 100%;
    color: #fffaf0;
}

.img_display img{
    max-width: 100%;
    height: auto;
}
.arrow-button {
    float: right;
    width: 40px;
    height: 40px;
    background-color:inherit; /* Set your desired background color */
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid wheat;
  }
  
  .arrow-button::after {
    content: '';
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 12px;
    height: 12px;
    /* border:  2px solid red; */
    border-right: 2px solid #fff; /*Set your desired arrow color */
    border-top: 2px solid #fff; /*Set your desired arrow color*/
    transform: rotate(45deg);
  }
  
  


.exit_exam{
    position: absolute;
    bottom: 0px;
    border: 1px solid #1e90ff;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exit_exam h3{
    text-align: center;
    /* border: 1px solid red; */
}

/*css for plus and minus sign begin*/
.qty .count {
    color: #000;
    display: inline-block;
    vertical-align: top;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 0 2px;
    min-width: 35px;
    text-align: center;
}
.qty .plus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: black;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    }
.qty .minus {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    color: black;
    width: 30px;
    height: 30px;
    font: 30px/1 Arial,sans-serif;
    text-align: center;
    border-radius: 50%;
    background-clip: padding-box;
}
div {
    text-align: center;
}
.minus:hover{
    background-color: #717fe0 !important;
}
.plus:hover{
    background-color: #717fe0 !important;
}
/*Prevent text selection*/
.qty.mt-5 span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-color: rgb(203, 192, 192);
}
.qty.mt-5 input{  
    border: 0;
    width: 1%;
    background-color: black;
    color: #055b76;
}
.qty.mt-5 input::-webkit-outer-spin-button,
.qty.mt-5 input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.qty.mt-5 input:disabled{
    background-color:black;
    padding-left: 21px;
    /* border:1px solid red; */
    margin-right: -5px;
}

.qty.mt-5 span.count{
    background-color: black;
    color:#055b76;
    /* border:1px solid green; */
    padding-left:0px;
    padding-bottom:0px;
}

/*css for plus and minus sign end*/
