<!doctype html>
<html>
   <head>
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/jquery-3.5.1.min.js') }}" ></script>
        
        <!--This is for plus sign and miuns sign-->
        <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
        <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
        
        
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css">
   </head>
   
   <body>
        <div class="background">
            <div class = "display_page">
                <div class="lu-widget">

                </div>
                <div class="ru-widget">
                </div>
                <div class="ld-widget">
                    <div class="qty mt-5" id='depth'>
                        <span class="minus">-</span>
                        <!--<input type="number" class="count" name="qty" value="1">-->
                        <span class="count">0cm</span>
                        <span class="plus ">+</span>
                    </div>
                </div>
                <div class="rd-widget">
                    <div class="qty mt-5" id='gain'>
                        <span class="minus">-</span>
                        <span class="count">0%</span>
                        <span class="plus">+</span>
                    </div>
                </div>
                <div class="screen">
                    <h class = "header">Live Streaming</h>
                    <br>
                    <img class = "camera" src="{{ url_for('video_feed') }}">
                </div>
            </div>
            
            <div class ="setting_page">
                <div class="setting_header">
                    <span>Go to All Views</span>
                    <button class="arrow-button"></button>
                </div>
                <div class ="img_display">
                    <img src = "{{url_for('video_feed')}}">
                </div>
            </div>
            
            

        </div>
   </body>
   <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/a.js') }}" ></script>
</html>