<!doctype html>
<html>
   <head>
        <title>Auto Echocardiography UI</title>
        <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/jquery-3.5.1.min.js') }}" ></script>
        
        <!--This is for plus sign and miuns sign-->
        <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet" id="bootstrap-css">
        <script src="{{ url_for('static', filename = 'js/bootstrap.min.js') }}"></script>
        
        <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script>

        
        <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}" type="text/css">
   </head>
   
   <body>
        <div class="background">
            <div class = "display_page">
                <div class="lu-widget">
                    <!--<div id="canvas-container" style = "display: block;"></div>-->
                </div>
                <div class="ru-widget">
                    <svg>
                        <circle class="bg" cx="57" cy="57" r="52" />
                        <circle id = "bg-circle" cx="57" cy="57" r="47" fill="#897b66"></circle>
                        <circle id="meter" class="meter-1" cx="57" cy="57" r="52" />
                    </svg>
                    <h4 class="score-title">Scores:</h4>
                    <br>
                    <h5 class="score">0</h5>
                </div>
                <div class="ld-widget">
                    <!--<span class="subtitle">Depth</span>
                    <div class="qty mt-5" id='depth'>
                        <span class="minus">-</span>
                        <input type="number" class="count" name="qty" value="1">
                        <span class="count">0cm</span>
                        <span class="plus ">+</span>
                    </div>-->
                </div>
                <div class="rd-widget">
                    <!--<span class="subtitle">Gain</span>
                    <div class="qty mt-5" id='gain'>
                        <span class="minus">-</span>
                        <span class="count">0%</span>
                        <span class="plus">+</span>
                    </div>-->
                </div>
                <div class="screen">
                    <h class = "header">Live Streaming</h>
                    <br>
                    <img id = "camera_id"class = "camera" src="{{ url_for('video_feed') }}">
                </div>
            </div>
            
            <div class ="setting_page">
                
                <div class="setting_header">
                    <div class="header_txt"><h4>Go to All Views</h4></div>
                    
                    <button class="arrow-button" id="dropdown"></button>
                    <div class="dropdown-content">
                        <a id = "PLAX" href="#">PLAX</a>
                        <a id = "PSAX"href="#">PSAX</a>
                        <a id = "AP" href="#">AP</a>
                    </div>
                    <div class="subdropdown PLAX">
                        <a href="#">PLAX</a>
                    </div>
                    <div class="subdropdown PSAX">
                        <a href="#">PSAX-AV</a>
                        <a href="#">PSAX-MV</a>
                        <a href="#">PSAX-PM</a>
                    </div>
                    <div class="subdropdown AP">
                        <a href="#">AP2</a>
                        <a href="#">AP4</a>
                        <a href="#">AP5</a>
                    </div>
                    
                </div>
                
                <div class = "setting_topics">
                    <h3>PLAX</h3>
                    <div class="bt-select">
                        <button class="arrow-button to-left" id="toleft"></button>
                        <span>1 of 1, Next None</span>
                        <button class="arrow-button to-right" id="toright"></button>
                    </div>
                    <div class ="img_display">
                        <img id = "img_dig" src = "{{url_for('static',filename='img/d1.png')}}">
                        <img id = "img_pos" src = "{{url_for('static',filename='img/p1.png')}}">
                    </div>
                    <button id="save-btn" class="save-page" >
                        Save
                    </button>


                </div>
                
            </div>
            
            

        </div>
   </body>
   <script type = "text/javascript" src = "{{ url_for('static', filename = 'js/a.js') }}" ></script>
   <script type="module" src="{{ url_for('static', filename = 'js/3d_model.js') }}"></script>
</html>